@charset "utf-8";

body {
	background-color: #012;
	color: #fefefe;
}

header {
	height: 100px;
	width: 100%;
}

.container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
}

.flex {
	display: flex;
}

article {
	margin: 50px;

}

.feature-product {
	width: 100%;
	justify-content: space-between;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 4rem;
}

p {
	line-height: 50px;
}

.fa-star {
	color: yellow;	/* CHANGE THIS TO THE ROOT */
}


.fake-link {
	color: rgb(80, 19, 172);
	cursor: pointer;
}

button {
	display: block;
	font-size: 2rem;
	width: 100px;
	height: 60px;
	margin: 15px;
	border-radius: 15px; 
	background-color: #234;
}