:root {
  --app-bg-color: #0e0d0d;
  --app-2nd-bg-color: #0f0f0f;
  --app-gold-color: #D4AF37;
  --app-gold-hover: #f6bf51;
  --app-text-color: #FAF9F6;
	--app-border-rad: 5px;
  --app-box-color: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(32,69,29,1) 0%, rgba(34,62,62,1) 100%); 
}

html {
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: min(100% - 32px, 1200px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.gap-20 {
  gap: 20px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.liked {
  color: #f36500;
}